node_modules
.next
.next-dev
out
data/*.db
data/*.db-*
.env
.env.local
*.tsbuildinfo
next-env.d.ts

.vercel
.env.production
.env.development

shopee-review/
.next-perf

# log da rotina de sincronizacao desta maquina
.sync-logs
